<div class="container my-5">

  <div class="row">
    <div class="col-12 mb-2">
      <% if params[:type] == "selling" %>
        <h2>나의 상품</h2>
      <% elsif @category %>
        <h2><%= @category.title %></h2>
      <% end %>
    </div>
    <% @user_items.each do |user_item| %>
    <% if item = user_item.item %>
      <div class="col-md-3 mb-3">
        <div class="card">
          <img src="<%= item.image.url(:thumb) if item.image? %>" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= item.title %></h5>
            <div class="card-subtitle">
              판매자: <%= item.user&.email %>
            </div>
            <p class="card-text"><%= item.description %></p>
            <%= link_to "자세히보기", item, class: "btn btn-primary" %>
            <% if item.user == current_user %>
              <%= link_to "수정", edit_item_path(item), class: "btn btn-danger" %>
              <%= link_to "삭제", item, mothod: :delete, data: {confirm: "정말 삭제하겠습니까?"}, class: "btn btn-secondary" %>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
